
# macOS 시스템 파일
.DS_Store

# Python 캐시 및 빌드 파일
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.eggs/
*.manifest
*.spec

# 가상 환경 폴더
env/
venv/
.myenv/

# 환경 설정 파일
*.env

# Jupyter/Colab 관련
.ipynb_checkpoints/
*.ipynb~
*.nbconvert.ipynb

# 머신러닝 모델 파일
*.h5
*.hdf5
*.pkl
*.joblib
*.pt
*.pth

# 데이터 및 로그
*.csv
*.tsv
*.xls
*.xlsx
*.sqlite3
*.db
*.log
*.out
*.tmp
.cache/
logs/

# 에디터/IDE 관련 설정
.vscode/
.idea/

# 결과물 및 빌드 파일
dist/
build/

# 테스트 출력
coverage/
htmlcov/

